#tekst1 {
    text-align: center;
}

h2 {
    background-color: #bfbfbf;
    text-align: center;
}

h3,
p {
    background-color: #eedada;
}

#detinjstvo {
    text-align: right;
}

#tekst2 {
    text-align: right;
}

#tekst3 {
    text-align: left;
}
.p {
    font: size 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
dl {
    background-color: #eedada;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    color:rgb(255, 255, 255); font-weight: bold; text-align:center; background-color: rgb(219, 13, 13);
    
}
pre{
    background-color: #eedada;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.centar{
    display: block;
    margin-left: auto;
    margin-right: auto;
}